body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: darkslateblue;
}

nav {
    background-color: #003366;
    padding: 15px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #0059b3;
}

#header_left {
    color:white;
    padding: 20px;
}

#header_right {
    display: flex;
    justify-content: space-around;
    margin-right: 10px;
    padding: 10px;
}

#header_right a:hover {
    color: #333;
}

#header_right a {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #fff;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    background-color: #003366;
    transition: color 0.1s ease;
}

.section {
    width: 90%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}
