body {
    margin: 0;
    padding: 0;
    font-family: Hack, monospace;
    background-color: #282939;
}

nav {
    background-color: #323647;
    padding: 15px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #0059b3;
}

.header-container {
    color: #fff;
    padding: 100px;
    display: flex;
    align-items: center;
}

.text-container {
    flex: 1;
    max-width: 60%;
    margin-top: 120px;
    margin-bottom: 120px;
}

#headshot-image {
    width: 100%;
    max-width: 200px;
    height: auto;
    object-fit: cover;
    margin-right: 10%;
}

#header1 {
    padding: 50px;
}


#header2 {
    display: flex;
    justify-content: space-around;
    margin-right: 10px;
    padding: 10px;
}

#header2 a:hover {
    color: #333;
}

#header2 a {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #fff;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    background-color: #003366;
    transition: color 0.1s ease;
}

.section {
    width: 90%;
    background-color: #F5F5F5;
    padding: 15px;
    border-radius: 5px;
    margin: 100px auto;
}

.who {
    font-size: 14px;
    line-height: 1.5;
    font-family: Hack, monospace;
}

#section1 {
    width: 90%;
    background-color: #323647;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.section-title {
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

#content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Align items to the top */
}

.section {
    width: 48%; /* Adjusted width */
    background-color: #282939;
    color: #F5F5F5;
    font-family: Hack, monospace;
    padding: 20px;
    border-radius: 10px;
}

#avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    margin-right: 5%;
    font-size: 14px;
    font-family: Hack, monospace;
}
#about {
    width: 45%;
    margin-right: 5%;
}

.image_info {
    text-align: center;
}

#image {
    width: 150px;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}




#skills {
    width: 80%;
    background-color: #323647;
    color: #fff;
    font-family: Hack, monospace;
}

#skills h2 {
    color: #fff;
    text-align: center;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skill {
    width: calc(33.33% - 10px); /*adjust for spacing*/
    margin-bottom: 20px;
    text-align: center;
}

.skill-icon img {
    width: 90%;
    height: auto;
    border-radius: 10px;
    padding: 20px;
}

.skill-icon {
    height: 300px;
    overflow: hidden; /* Hides any overflowing content */
    border-radius: 10px; /* Adjustable for space */
}

.skill-name {
    margin-top: 10px;
    font-size: 14px;
    overflow: hidden;
}




/* Styling for the portfolio/projects section */
#portfolio {
    background-color: #323647;
    /*padding: 40px 2%;*/
    margin: 0 auto;
    max-width: 80%;
    width: 100%;
    color: #fff;
}

/* Styling for the projects heading */
#portfolio h2 {
    text-align: center;
}

/* Styling for individual project divs */
.project {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #282939;
    color: #fff;
    padding: 20px;
    margin-bottom: 40px; /* Increased margin between each project */
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Styling for project images */
.project-image {
    flex: 0 0 30%;
    margin-right: 20px;
    color: #fff;
}

.project-image img {
    max-width: 100%;
    height: auto;
    border: 2px solid #fff;
    border-radius: 5px;
}

/* Styling for project details */
.project-details {
    flex: 0 0 65%;
    text-align: left;
    color: #fff;
}

.project-details h3 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #fff;
}

.project-details p,
.project-details a {
    margin-bottom: 10px;
    color: #fff;
}

.project-details a {
    display: inline-block;
    padding: 8px 16px;
    background-color: #5CAB7D; /* Button background color */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.project-details a:hover {
    background-color: #488762; /* Darker background color on hover */
}


/* experience section design*/
#experience {
    text-align: center;
    padding-top: 20px;
    max-width: 100%;
}

#experience h2 {
    margin-top: 50px;
}

#experience p {
    margin-bottom: 50px;
}

.experience-item {
    width: calc(30% - 20px); /* Adjusted to fit the layout with some spacing */
    display: inline-block; /* Display items horizontally */
    vertical-align: top; /* Align items to the top */
    margin-right: 20px; /* Add spacing between items */
    margin-bottom: 250px;
    filter: grayscale(1);
    position: relative; /* Ensure .info is positioned relative to this */
}

.experience-item img {
    max-width: 50%;
    height: auto;
    transition: transform 0.2s ease;
    cursor: pointer;
}

.experience-item:hover {
    filter: revert; /* makes the photo have color when hovered*/
}

.experience-item:hover img {
    transform: scale(1.2); /*1.2x he size of the photo when hovered*/
}

.info {
    position: absolute;
    padding: 20px; /* Adjust padding as needed */
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #323647;
    max-height: 300px; /* Example maximum height */
    overflow-y: auto; /* Add scrollbar if content exceeds max-height */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    font-size: 12px; /* Adjust font size as needed */
    line-height: 1.2; /* Adjust line height as needed */
}

.experience-item:hover .info {
    opacity: 1;
    visibility: visible;
}




.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /*overflow: hidden;*/
    width: 100%;
    height: 600px; /* Adjusts height */
    margin-top: 150px; /* Adds margin to create space above each section */
    margin-bottom: 150px; /* Adds margin to create space below each section */
}

#contact {
    width: 70%;
    padding: 15px; /* Adjusts space */
    background-color: #323647;
    border-radius: 10px;
    box-sizing: border-box; /* Includes padding and border in the width */
}

#contact h2 {
    text-align: center;
    font-size: 20px; /* Adjusts font size */
    margin-bottom: 20px; /* Adjusts the margin */
    color: #F5F5F5;
}

#contact p{
    text-align: center;
}

#contact form {
    margin-top: 20px;
}

.input-group {
    margin-bottom: 10px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

.input-group input, .input-group textarea {
    width: calc(100% - 22px); /* Adjusts the width */
    padding: 8px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 8px;
    box-sizing: border-box; /* Includes padding and border in the width */
    color: #282939;
}

#contact button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #5CAB7D;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
}

#contact button:hover {
    background-color: #0056b3;
}



.email-link {
    margin-bottom: 400px;
    text-align: center;
    color: #ffffff;
}

.email-text {
    color: white;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.email-link button {
    width: 150px;
    padding: 8px;
    font-size: 14px;
    background-color: #5CAB7D;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.email-link button:hover {
    background-color: #0056b3;
}



footer {
    background-color: #1C1C1C;
    color: #fff;
    text-align: center;
    font-size: 12px;
    bottom: 0;
    padding: 10px 0;
}

